* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #14141a;
  color: #f5f6fc;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: auto;
  width: 100vw;
  padding: 1em;
  /* background: #14141a; */
  background: black;
  z-index: 1000;
}

header ul {
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header li {
  display: inline;
  margin: 0 0.4rem 0 0.2rem;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.logo {
  width: 200px;
  padding: 10px 6px;
  border-radius: 6px;
  background-color: #6232ff;
}

section {
  padding: 3em;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin: 1em 0 0;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  color: #9da2b3;
  line-height: 1.6;
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #8eff32;
}

a.get-in-touch {
  font-size: 4rem;
  font-weight: 300;
}

.tituloNombre {
  color: #9da2b3;
  font-family: 'Oswald', sans-serif;
  font-size: 3.4rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media screen and (max-width: 650px) {
  .tituloNombre {
    font-size: 2rem;
  }
}

.subTituloNombre {
  color: #f5f6fc;
  font-weight: 400;
  text-transform: uppercase;
}

.tituloSecundario {
  font-size: 2rem;
  color: #f5f6fc;
  font-weight: 600;
}
@media screen and (max-width: 650px) {
  .tituloSecundario {
    font-size: 1.3rem;
  }
}

.margenBot20 {
  margin-bottom: 20px;
}

.terciary {
  color: #ceff1c;
  font-weight: 600;
}

.carousel {
  position: relative;
  padding-left: 250px;
  padding-right: 200px;
}
@media screen and (max-width: 1240px) {
  .carousel {
    display: none;
  }
}

.carousel__item {
  padding: 20px;
  position: relative;
  height: 560px;
  width: 50%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 0;
  transition: all 0.2s linear;
  background-color: #40424d;
  border-radius: 15px;
  color: #f5f6fc;
}
@media screen and (max-width: 1470px) {
  .carousel__item {
    height: 640px;
  }
}

.carousel__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.carousel__item--left {
  transform: translate(-110%, -50%) scale(0.9);
  z-index: 1;
}

.carousel__item--right {
  transform: translate(10%, -50%) scale(0.9);
  z-index: 1;
}

.carousel__item--left img,
.carousel__item--right img {
  filter: grayscale(80%);
}

.carousel__item--right:hover {
  transform: translate(10%, -50%) scale(1.1);
  z-index: 3;
  cursor: pointer;
}

.carousel__item--left:hover {
  transform: translate(-110%, -50%) scale(1.1);
  z-index: 3;
  cursor: pointer;
}

.carousel__item--main:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.carousel__item:hover > .carousel__text {
  opacity: 1;
}

.carousel__item:hover img {
  filter: grayscale(0%);
}

.carousel__btns {
  position: absolute;
  transform: translate(-50%, 18rem);
  display: flex;
  gap: 2rem;
  z-index: 113;
}

.carousel__btn {
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid currentColor;
  color: #f5f6fc;
  cursor: pointer;
}

.carousel__btn svg {
  height: 1.8rem;
  width: 1.8rem;
}

.carousel__btn:hover {
  color: #aaa;
}

.carouselDos {
  display: none;
  gap: 15px;
}
@media screen and (max-width: 1240px) {
  .carouselDos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 950px) {
  .carouselDos {
    flex-direction: column;
  }
}

.carousel__item-dos {
  padding: 20px;
  height: 550px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: all 0.2s linear;
  background-color: #40424d;
  border-radius: 15px;
  color: #f5f6fc;
}
@media screen and (max-width: 950px) {
  .carousel__item-dos {
    height: 460px;
    padding: 20px;
  }
}
@media screen and (max-width: 670px) {
  .carousel__item-dos {
    height: auto;
    padding: 20px;
  }
}

.carousel__item-dos img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
@media screen and (max-width: 950px) {
  .carousel__item-dos img {
    height: 200px;
  }
}

@keyframes cuadrado {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

.center {
  text-align: center;
}

.servicios {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1240px) {
  .servicios {
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 650px) {
  .servicios {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.servicios .serviciosUno {
  width: 400px;
}
@media screen and (max-width: 1240px) {
  .servicios .serviciosUno {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.servicios .serviciosDos {
  width: 55%;
}
@media screen and (max-width: 1240px) {
  .servicios .serviciosDos {
    width: 100%;
  }
}

.sergio {
  width: 100%;
  filter: drop-shadow(8px 10px 12px #000000);
}

.equipo {
  overflow-x: hidden;
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1240px) {
  .equipo {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .equipo {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.equipo > div {
  width: 50%;
}
@media screen and (max-width: 1240px) {
  .equipo > div {
    width: 100%;
  }
}

.fondoCuatro {
  background-image: url('../img/fondoCuatro.png');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.formulario {
  background-image: url('../img/fondoCuatro.png');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .formulario {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.formulario > div {
  width: 50%;
}
@media screen and (max-width: 650px) {
  .formulario > div {
    width: 100%;
  }
}

.formulario form {
  color: #f5f6fc;
}

.contactanosDos {
  display: none;
}
@media screen and (max-width: 991px) {
  .contactanosDos {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .contactanosUno {
    display: none;
  }
}

.social-icon {
  width: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;

  padding: 2em;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #f5f6fc;
}
